<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CombineLatest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ToDoExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>183D22E429E53D9E00D5AB04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1862CEA629EEB31A001A20B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C1E09A29E560AC006817F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C4832529DD99A1005EAE74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
